<h1 class="ticket-title">Open Tickets</h1>

<div id="ticket-index-headers" class="row">
  <div class="col-2">
    <h4>Type</h4>
  </div>
  <div class="col-2">
    <h4>Priority</h4>
  </div>
  <div class="col-2">
    <h4>Due at</h4>
  </div>
  <div class="col-3">
    <h4>Description</h4>
  </div>
  <div class="col-3">
    <h4>Actions</h4>
  </div>
</div>

<div id="ticket-index-body">
  <% @tickets.each do |ticket| %>
      <div class="row">
        <div class="col-2">
          <span><%= ticket.type %></span>
        </div>
        <div class="col-2">
          <span><%= ticket.priority %></span>
        </div>
        <div class="col-2">
          <span><%= ticket.due_at %></span>
        </div>
        <div class="col-3">
          <span><%= ticket.description %></span>
        </div>
        <div class="col-3">
          <span><%= link_to 'Show', ticket_path(ticket) %></span>
          <span><%= link_to 'Edit', edit_ticket_path(ticket) %></span>
        </div>
      </div>
  <% end %>
</div>

<br>

<%= link_to 'New Ticket', new_ticket_path %>